*, *:before, *:after {
    box-sizing: border-box;
  }

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .25fr) 1fr;
    background-color: dodgerblue;
    color: white;
}

h1{
    grid-area: 1 / 1 / 2 / 4;
    align-items: center;
    text-align: center;
}

form{
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    align-items: center;
}

div{
    grid-area: 3 / 2 / 4 / 3;
    align-items: center;
    text-align: center;
}


#input, #submit{
    padding:5px;
    border:none;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
}
