*, *:before, *:after {
    box-sizing: border-box;
  }

body{
    background-color: dodgerblue;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1{
    align-items: center;
    text-align: center;
}

form{
    text-align: center;
    align-items: center;
    margin-bottom: 2em;
}

div{
    text-align: center;
}


#input, #submit{
    padding:5px;
    border:none;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: white;
}



@media only screen and (min-width:1200px){
    
}